version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    env_file:
      - env.example
    volumes:
      - ./backend:/app/backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend


